body {
  color: white;
  background-color: #0c1a29;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  height: 100vh;
}

.sidebar {
  flex: 0 0 350px;
}

.hide {
  display: none !important;
  transition: display 2s linear 0s;
}

/* ============ BG COLORS ============ */
.header {
  background-color: rgba(12, 26, 41, 0.9);
}

.content-wrapper {
  background-color: rgba(12, 26, 41, 0.5);
}

.menu.level-1 {
  background-color: rgba(12, 26, 41, 0.6);
}

.menu.level-2 {
  background-color: rgba(12, 26, 41, 0.7);
}

.article-wrapper {
  background-color: rgba(12, 26, 41, 0.8);
}

.article-wrapper .gallery {
  background-color: rgba(12, 26, 41, 0.9);
}

/* ==================  HEADER  ================== */
.header {
  height: 20vh;
}

.logo {
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo img {
  width: 260px;
}

.title {
  display: flex;
  align-items: center;
}

/* ============ SIDEBAR / MENUS ============ */
.menulevel2, .showSubnav {
  display: flex;
  flex-direction: column;
}

ul.nav {
  list-style-type: none;
  display: flex;
  flex-flow: column;
  width: 100%;
}

ul.nav li {
  text-transform: uppercase;
  padding: 20px 10px 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: none;
  font-weight: normal;
  transition: padding 0.5s ease-in, background-color 0.3s ease-in, font-weight 0.1s ease-out;
}

ul.nav li p {
  margin: 0;
  pointer-events: none;
}

ul.nav li span {
  opacity: 0;
  transition: opacity 0.5s ease-out,  padding 0.2s ease-in;
  padding-right: 0;
}

.menulevel2.nav {
  font-size: 14px;
}

ul.nav li.active {
  background-color: rgba(255, 255, 255, 0.2);
  filter: drop-shadow(2px 2px 2px black);
  font-weight: bold;

}

ul.nav li.active span {
  opacity: 1;
  padding-right: 10px;
}


/*
ul.nav li.active::after {
  content: ">";
}
*/

/* ============ CONTENT ============ */
.content {
  height: 80vh;
}

.level-1, .level-2 {
  padding: 20px 0;
}

.article, .gallery {
  padding: 20px;}

.gallery {
  overflow-y: scroll;
}
.article {
  overflow-y: hidden;
}


/*  --- GALLERY --- */
.gallery {
  display: flex;
  flex-direction: column;
}
.gallery img {
  width: 260px;
  margin: 10px 0;
}
.gallery h2 {
  text-align: center;
}

/* scrollbar */
.gallery::-webkit-scrollbar-track {
	border: 1px solid #242d3c;
	background-color: #3e4a57e6;
}
.gallery::-webkit-scrollbar {
	width: 10px;
	background-color: #3e4a57e6;
}
.gallery::-webkit-scrollbar-thumb {
	background-color: #242d3c;
}

/* ================= MAIN MENU =================== */

.main-menu {
  background-color: rgba(12, 26, 41, 0.5);
  justify-content: center;
}
.main-nav {
  align-self: center;
  width: 500px;
  list-style: none;
  text-transform: uppercase;
  font-size: 30px;
}

.main-nav li {
  padding: 20px 40px;
  text-align: center;
  pointer-events: none;
}
